.home{
  display: flex;
  .homeContainer{
      flex:6;
  }
  .widgets,.charts{
    display: flex;
    // flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  .charts{
    padding: 5px 20px;
  }
  .listContainer{
    -webkit-box-shadow: 5px 8px 20px -3px rgba(0,0,0,0.59); 
box-shadow: 5px 8px 20px -3px rgba(0,0,0,0.59);
    padding: 20px;
    margin: 20px;
    .listTitle{
      font-weight: 500;
      color:gray;
      margin-bottom: 15px;
      
    }
  }
}